:root{
    --branco: white;
    --cor-de-fundo:#00162e;
    --cor-de-senha:#00244D;
    --cor-de-texto:#001e40;
    --borda: #001e40;

}
body{
    color:var(--branco);
    background-color: #00162e
    
}